<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/13.0/phpunit.xsd"
    bootstrap="vendor/autoload.php"
    cacheDirectory="var/cache/phpunit"
    colors="true"
    requireCoverageMetadata="true">
    <testsuites>
        <testsuite name="application">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory suffix=".php">src</directory>
        </include>
    </source>
    <coverage includeUncoveredFiles="true"
        ignoreDeprecatedCodeUnits="false"
        pathCoverage="false">
        <report>
            <clover outputFile="var/reports/coverage/clover.xml" />
        </report>
    </coverage>
</phpunit>
